dist

dolfyn.egg-info

.pytest_cache

*.coverage
*.pyc
*~
~/.pypirc

example_data/*.index

tests/data/test_save.mat
tests/data/test_save.nc
tests/.coverage

docs/build
docs/.ipynb_checkpoints

build/
debug/
src/
.cache/
tmp/
