build/*
*deprecated*
*dep*

doc-build

!config_files/**/*.dep

dist

.pypirc

dolfyn.egg-info

debug/

*.pyc
*~

\#*#
\.#*
*flymake.py

.DS_Store

# These are folders from forward-versions of dolfyn that need to be ignored.
tmp/
.cache/
.pytest_cache/
dolfyn/example_data/
doc-src/source/_as_gen/
