*deprecated*
*dep*

doc-build

!config_files/**/*.dep

dist

dolfyn.egg-info

.pytest_cache

*.coverage
*.pyc
*~
~/.pypirc

dolfyn/example_data/*.index
dolfyn/example_data/*.log

tests/.coverage

docs/build
docs/.ipynb_checkpoints

build/
debug/
src/
.cache/
tmp/

.vscode