*.h5 filter=lfs diff=lfs merge=lfs -text
*.VEC filter=lfs diff=lfs merge=lfs -text
*.wpr filter=lfs diff=lfs merge=lfs -text
*.PD0 filter=lfs diff=lfs merge=lfs -text
*.ad2cp filter=lfs diff=lfs merge=lfs -text
*.000 filter=lfs diff=lfs merge=lfs -text
