name: build

on: [push]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest"] 
        #["windows-latest", "ubuntu-latest", "macos-latest"]
        python-version: [3.7, 3.8, 3.9]

    steps:
    - name: Set up Git repository
      uses: actions/checkout@v2
      with:
        lfs: true
        
    - name: Set timezone
      uses: szenius/set-timezone@v1.0
      with:
        timezoneLinux: "America/Los_Angeles"
        #timezoneMacos: "America/Los_Angeles"
        #timezoneWindows: "America/Los_Angeles"
        
    - name: Checkout LFS datafiles
      run: git lfs checkout

    - name: Set up Python ${{ matrix.python-version }}
      uses: conda-incubator/setup-miniconda@v2
      with:
        activate-environment: dolfyn-env
        environment-file: environment.yml
        python-version: ${{ matrix.python-version }}
        auto-update-conda: true
        auto-activate-base: false
        
    - name: Update and install packages
      run: |
        python -m pip install --upgrade pip wheel
        pip install nose
        pip install coveralls
        pip install .

    - name: Run tests
      shell: bash -l {0}
      run: |          
        nosetests -v --with-coverage --cover-package=dolfyn dolfyn

    - name: Upload coverage data to coveralls.io
      run: |
        coveralls --service=github
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        COVERALLS_FLAG_NAME: ${{ matrix.python-version }}
        COVERALLS_PARALLEL: true
        
  coveralls:
    name: Indicate completion to coveralls.io
    needs: build
    runs-on: ubuntu-latest
    container: python:3-slim
    steps:
    - name: Finished
      run: |
        pip3 install --upgrade coveralls
        coveralls --finish
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}