name: CI

on: 
  push: 
      branches: [master, xarray-dev]
  pull_request:
      branches: [master]
        
jobs:
  tests:
    name: "Python ${{ matrix.python-version }}"
    runs-on: ubuntu-latest
      
    strategy:
      matrix:
          python-version: ["3.6", "3.7", "3.8"]

    steps:
      - uses: "actions/checkout@v2"
      - name: Set up Python
        uses: "actions/setup-python@v2"
        with:
          python-version: "${{ matrix.python-version }}"
      - name: Install dependencies
        run:
          python -m pip install --upgrade pip
          pip install -e git://github.com/lkilcher/pyDictH5.git@master#egg=pyDictH5
          pip install numpy scipy xarray six h5netcdf nose coveralls
      - name: Run tests
        run:
          nosetests --with-coverage --cover-package=dolfyn
          #python -m pytest